<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'css/statistics-page.css' %}">
    </head>
    <body>
        <header>
            <nav>
                <div class="navbar"></div>
            </nav>
        </header>
        <section class="content">
            <h1 class="heading">Statstics</h1>
            <div class="cards">
                <div class="sales">
                    <h1>Daily Sales:</h1>
                    <h2 class="dailySales">$500</h2>
                </div>
                <div class="sales">
                    <h1>Weekly Sales:</h1>
                    <h2 class="weeklySales">$300</h2>
                </div>
                <div class="sales">
                    <h1>Monthly Sales:</h1>
                    <h2 class="monthlySales">$300</h2>
                </div>
                <div class="sales">
                    <h1>Yearly Sales:</h1>
                    <h2 class="yearlySales">$300</h2>
                </div>
            </div>
            <div class="charts">
                <div class="box">
                    <div>
                        <h1 class="title">Daily Sales</h1>
                    </div>
                    <canvas id="dailyChart"></canvas>
                    <div>
                        <h2 class="lable">Income in ₹</h2>
                    </div>
                </div>
                <div class="box">
                    <div>
                        <h1 class="title">Weekly Sales</h1>
                    </div>
                    <canvas id="weeklyChart"></canvas>
                    <div>
                        <h2 class="lable">Income(₹) Per Week</h2>
                    </div>
                </div>
                <div class="box" id="box-3">
                    <div>
                        <h1 class="title">Monthly Sales</h1>
                    </div>
                    <canvas id="monthlyChart"></canvas>
                    <div>
                        <h2 class="lable">Income(₹) Per Month</h2>
                    </div>
                </div>
                <div class="box">
                    <div>
                        <h1 class="title">Yearly Sales</h1>
                    </div>
                    <canvas id="yearlyChart"></canvas>
                    <div>
                        <h2 class="lable">Income(₹)Per Year</h2>
                    </div>
                </div>
            </div>
        </section>
        <script src="{%static 'js/chart.min.js'%}"></script>
        <script src="{%static 'js/statistics.js'%}"></script>
    </body>
</html>
