{% extends 'base.html' %} 

{% block content %} 
{% include 'partials/header.html'%}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 create-order">
      {% include 'partials/order-create.html' %}
      <div>Items:</div>
      {% include 'partials/show-added-items.html' %}
      <div class="d-flex justify-content-center order-create-btn">
        <a
          class="btn"
          style="background-color: #1d1d1d; color: #fefefe;"
          href="{% url 'billing:create_order' new_order_id %}"
          >Create</a
        >
      </div>
    </div>
    <div class="col-md-4 recent-order">
      {% include 'partials/recent-orders.html' %}
    </div>
  </div>
  {% include 'partials/modal-recent-order.html' %}
</div>

{% endblock content %}
