<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="../../static/css/add_update.css">
</head>

<body>
    <nav>
        <div class="navBar"></div>
    </nav>
    <header>
        <h1 class="heading">Add & Update</h1>
    </header>
    <section>
        <div class="container">
            <div class="box">
                <div class="title">
                    <h2 class="boxTitle">Add Items</h2>
                </div>
                <div class="fields">
                    <div class="input">
                        <label>Item Name</label>
                        <input type="text">
                    </div>
                    <div class="input">
                        <label>Price</label>
                        <input type="number">
                    </div>
                </div>
                <div class="btn">
                    <button>+ ADD ITEM</button>
                </div>
            </div>
            <div class="box">
                <div class="titleCnt">
                    <div class="head">
                        <h2 class="boxTitle">Update Items</h2>
                    </div>
                    <div class="search">
                       Search : <input type="text">
                    </div>
                </div>
                <div class="table">
                    <div class="tableData">ID</div>
                    <div class="tableData">Name</div>
                    <div class="tableData">Amount</div>
                    <div class="tableData">Function</div>
                </div>
                <div class="tableItems" id="items" >
                    <div class="tableData">1</div>
                    <div class="tableData">Chicken Momo</div>
                    <div class="tableData">80</div>
                    <div class="tableData"><button>Update</button></div>
                </div>
                <div class="tableItems" id="items" >
                    <div class="tableData">2</div>
                    <div class="tableData">Chicken Fried Rice</div>
                    <div class="tableData">80</div>
                    <div class="tableData"><button>Update</button></div>
                </div>
                <div class="tableItems" id="items" >
                    <div class="tableData">3</div>
                    <div class="tableData">Chicken Sezwan fried Rice</div>
                    <div class="tableData">80</div>
                    <div class="tableData"><button>Update</button></div>
                </div>
                <div class="tableItems" id="items" >
                    <div class="tableData">4</div>
                    <div class="tableData">Coffee</div>
                    <div class="tableData">80</div>
                    <div class="tableData"><button>Update</button></div>
                </div>
                


            </div>
        </div>
    </section>
</body>

</html>