<!-- Scrollable modal -->
<div class="modal fade"
     id="myModal"
     aria-labelledby="viewRecentOrder"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable ">
        <div class="modal-content custom-modal">
            <!-- Modal header, body, and footer go here -->
            <div class="modal-header">
                <h5 class="modal-title">Order No: {{ order.id }}</h5>
                <button type="button"
                        class="close"
                        data-bs-dismiss="modal"
                        aria-label="Close">&times;</button>
            </div>
            <div class="modal-body">
                <div class="overflow-auto">
                    <!-- Scrollable content goes here -->
                    <b>Items</b>
                    <table class="table table-striped" id="add-items-target">
                        <thead>
                            <tr>
                                <th scope="col">SN.</th>
                                <th scope="col">Item Name</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for orderitem in order.orderitem_set.all %}
                            <tr>
                                <td>{{ forloog.counter }}</td>
                                <td>{{ orderitem.item.name }}</td>
                                <td>{{ orderitem.quantity }}</td>
                                <td>{{ orderitem.item.price }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="3"></th>
                                <th scope="col">Total</th>
                                <th scope="col" id="order-total-price">₹ {{ order.get_total_price }}/-</th>
                            </tr>
                        </tfoot>
                        {% comment %} {% else %}
                        <thead>
                            <tr>
                                <th scope="col">No Items Added</th>
                            </tr>
                        {% endif %} {% endcomment %}
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                {% comment %} <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> {% endcomment %}
                <div>
                    <div>Payment Method</div>
                    <input class="form-check-input"
                           type="radio"
                           name="payment-method"
                           id="payment-unpaid"
                           value="unpaid"
                           checked>
                    <label class="form-check-label" for="payment-unpaid">Unpaid</label>
                    <input class="form-check-input"
                           type="radio"
                           name="payment-method"
                           id="payment-cash"
                           value="cash">
                    <label class="form-check-label" for="payment-cash">Cash</label>
                    <input class="form-check-input"
                           type="radio"
                           name="payment-method"
                           id="payment-online"
                           value="online">
                    <label class="form-check-label" for="payment-online">Online</label>
                </div>
                <div>
                    <button type="button" class="btn btn-primary">Print</button>
                </div>
            </div>
        </div>
    </div>
</div>
